.DS_Store

# ChromaDB хранилище
db_chroma/

# Виртуальное окружение
.venv/

# Переменные окружения
.env

# Базы данных
data/database/
data/УНФ/pdfs/Новое в версии 3.0.12 __ Информация об обновлениях программных продуктов 1С_Предприятие.pdf
data/